

.vl{
    margin-left: 50px;
}

@media(max-width:768px){

    .cont{
        display:flex !important;
        flex-direction: column !important;
    }
    .video-container{

        width: 100% !important;
        height: 50% !important;
    }

    .video-list{
        width: 100% !important;
        margin:0 auto;
        
    }
    .vl{
        display: flex !important;
        flex-direction: column !important;
        margin: 10px;
        
    
    }
    .lt{
        padding: 5px;
        width: 80%;
        text-align: center;
        
        
    }
    




}